/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* группа contour, main-body, core */

.like-icon.is-liked .heart {
  transform-origin: center; 
  animation: heart-scale 0.3s 0.1s ease-in alternate;
}

/* контур сердца */

.contour { 
  fill: var(--color-accent-heart, grey);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour { /* состояние после клика по сердцу 2 */
  fill: var(--color-main-heart, red);
  transition: fill 0.3s 0.06s linear;
}

/* основное тело сердца */

.main-body { /* дефолтное состояние */
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--color-accent-heart, grey);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .main-body {
  fill: var(--color-main-heart, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .main-body { /* состояние после клика по сердцу */
  fill: var(--color-main-heart, red);
  transition: fill 0.3s 0.05s linear;
}

/* сердцевина сердца */

.core { 
  fill: transparent; /* дефолтное состояние */
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .core {
  fill: var(--color-accent-heart, grey);
  transition: fill 0.3s linear;
}

.card__icon-button:active .core {
  fill: var(--color-main-heart, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core { /* состояние после клика по сердцу */
  fill: var(--color-main-heart, red);
  transition: fill 0.3s linear;
}

/* искры сердца */

.sparks {
  opacity: 0; 
  fill: var(--color-main-heart, red);
}

.like-icon.is-liked .sparks {
  animation: heart-sparks 0.3s 0.3s ease-in alternate;
}

@keyframes indicator {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(4px);
  }
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes heart-sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
